name: Build-test

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Dep install
        run: |
          sudo apt-get update
          sudo apt-get install -y gcc-multilib g++-multilib binutils python3-setuptools clang-10
          git clone https://github.com/alliedmodders/sourcemod --recursive -b 1.10-dev
          git clone https://github.com/alliedmodders/metamod-source -b 1.10-dev
          git clone https://github.com/alliedmodders/hl2sdk -b csgo hl2sdk-csgo
          git clone -b 2.1-distutils https://github.com/alliedmodders/ambuild
          cd ambuild
          sudo python3 setup.py install
          cd ..
      - name: Build
        run: |
          bash ./ci/build.sh